body{
	font-family: 'Montserrat', sans-serif;
}
.video {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (min-aspect-ratio: 16/9) {
  .video-bg {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-bg {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .video {
    background: url('../img-lyft/hero-video.mp4') center center / cover no-repeat;
  }

  .video-bg {
    display: none;
  }
}
 
  #top-logo{
  	height:40px;
  	width:50px;
  }
  nav{
  	position:fixed;
  	display: flex;
  	flex-direction: row;
  	justify-content: space-between;
  	margin-right:0;
  	margin-left: 0;
  	width:100%;
  }
  .logo{
  	margin-right:300px;
  	margin-left:0px;
  	margin-top:24px;
  }
  .menu{
  	margin-left:0px;
  }
  .menu li{
  	list-style: none;
  	margin-top:30px;
  }
  .menu li a{
  	text-decoration:none;
  	padding:30px 30px;
  	color:white;
  }
  .menu.flex-container{
  	display:flex;
  	flex-direction:row;
  	justify-content: space-around;
  	padding-left:50px;
  }
  #logo-container.active{
  	margin-left:100px;
  }
  #menu-login{
  	border:1.5px solid white;
  	padding-top:10px;
  	padding-bottom:10px;
  	padding-right:30px;
  	padding-left: 30px;
  	border-radius: 7px;
  	text-align: center;
  	;
  }
 .menu.active {
    background: #fff;
    padding:0;
    margin:0;
    display:flex;
    justify-content: space-around;
    width:100%;

}
.menu.active a {
	color:black;
}
 .menu .active #menu-login{
  	border:1.5px solid black;
  	padding-top:10px;
  	padding-bottom:10px;
  	padding-right:30px;
  	padding-left: 30px;
  	border-radius: 7px;
  	text-align: center;
  }
  header{
  	padding-top:10%;
  	margin-left:60%;
  	margin-right: 0;
  }
  header #form{
  	color:#352384;
	display: flex;
	flex-direction: column;
	text-align:center;
	width:90%;
	background-color: white;
	padding: 60px 20px 160px 70px;
  }
  #form h1{
  	text-align: left;
  	font-size: 38px;
  	font-weight: bold;
  }
  #form h4{
  	padding-top:6px;
	text-align: left;
	font-weight:bold;
	font-size: 17px;
	padding-bottom:10px;
  }
  #form input{
  	height:30px;
  }
  
  #form input::placeholder{
  	color:grey;
  	font-size: 13px;
  	font-family: 'Montserrat', sans-serif;
  }
  #oculto{
  	display: flex;
  	flex-direction: column;
  }
